* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole generali header */

.larghezza-contenuto {
    width: 75%;
    margin: 0 auto;
    padding: 40px 0;
}

.container-nav {
    padding: 20px 0;
}

.container-header{
    padding: 0 0 50px ;
}

header {
    min-height: 300px;
    background-color: blue;
}

/* regole nav */

#nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-nav {
    min-height: 70px;
    /* debug */
    background-color: yellow;
    border: 2px dotted black;
    
}

.col-laterali {
    width: 25%;
}

#nav-header .col-centrale {
    width: 50%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* regole parte main header */

#main-header {
    width: 80%;
    margin: 0 auto;
    min-height: 200px;
    /* debug */
    background-color: blueviolet;
    border: 2px dotted black;
    
}

/* regole generali main */

.container-main {
    min-height: 100px;
}

.container-grey{
    background-color: grey;
}

/* regole sezione 2 colonne */

.container-2-col {
    display: flex;
}

.immagine-discord {
    width: 40%;

    /* debug */

    background-color: red;
    min-height: 150px;
    border: 2px dotted black;
}

.testo-col {
    width: 60%;

    /* debug */

    background-color: blue;
    min-height: 150px;
    border: 2px dotted black;
}

.img-col-sx{
    flex-direction: row-reverse;
}

