* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.larghezza-contenuto {
    width: 75%;
    margin: 0 auto;
    padding: 40px 0;
}

/* regole generali header */


.container-nav {
    padding: 20px 0;
}

.container-header{
    padding: 0 0 50px ;
}

header {
    min-height: 300px;

    /* debug */

    background-color: blue;
}

/* regole nav */

#nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-nav {

    /* debug */

    min-height: 70px;
    background-color: yellow;
    border: 2px dotted black;
    
}

.col-laterali {
    width: 25%;
}

#nav-header .col-centrale {
    width: 50%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* regole parte main header */

#main-header {
    width: 80%;
    margin: 0 auto;

    /* debug */

    min-height: 200px;
    background-color: blueviolet;
    border: 2px dotted black;
    
}

/* regole generali main */

.container-grey{
    background-color: rgba(128, 128, 128, 0.15);
}

/* regole sezione 2 colonne */

.container-2-col {
    display: flex;
    align-items: center;
}

.immagine-discord {
    width: 40%;

    /* debug */

    background-color: red;
    min-height: 150px;
    border: 2px dotted black;
}

.testo-col {
    width: 60%;

    /* debug */

    background-color: blue;
    min-height: 150px;
    border: 2px dotted black;
}

/* regole main centrale */

.container-sezione {
    
    /* debug */
    
    background-color: green;
    min-height: 600px;
    border: 2px dotted black;
}

/* regole generali footer */

footer {
    background-color: rgb(9, 3, 27);
    min-height: 200px;
}

/* regole social e link */

.col-nav-footer {
    border-bottom: 2px solid lightblue;
    padding-bottom: 20px;
    display: flex;
}

#social{
    width: 30%;

    /* debug */

    min-height: 500px;
    background-color: brown;
    border: 2px dotted black;
}

.link-utili{
    width: calc(70% / 4);

    /* debug */

    min-height: 500px;
    background-color: aqua;
    border: 2px dotted black;
}

/* regole parte finale footer */

.col-footer {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

